<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Precrastination</title>

    
	<script src="https://kit.fontawesome.com/cd1bf23aec.js" crossorigin="anonymous"></script>

  
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    
   
    <main class="app">
        <progress id="js-progress" value="0"></progress>
        <div class="progress-bar"></div>

    <header class="container" id="header">
        <nav>
            <h1> <i class="fas fa-stopwatch"></i> Precrastination</h1>
            <a href="/logout"> <i class="far fa-user-circle"></i> Logout</a>
        </nav>
        <hr>

        <div class="pomoContents">
            <div class="pomoContainer">
                <div class="pomoButtons">
                   
                    <a href="#">Precrastinate</a>
                    <a href="#">Short Break</a>
                    <a href="#">Long Break</a>
                </div>

                <h1 id="timer">25:00</h1>
            
                <div class="startBtn">
                    <a href="#">START</a>
                </div>

            </div>
        </div>


    
        <span id='work' >testtt 123 </span> <br>
        <input type="text" class="inputText" >
        <a href="test"><button class="addButton" > fun</button></a>


        <hr class="shortLine">

        <div class="tasksContents">
            <div class="tasksContainer">
                <ol class="tasksList">
                
                </ol>
            </div>
        </div>    
        
     

        <section>
            <h1> Readme </h1>
        </section>

    </header>

    
    <script>

        console.log(Object.values(localStorage).length)
        
        
        for (let index = 0; index < Object.values(localStorage).length; index++) {
            console.log(Object.values(localStorage)[index])
        
                const idk =  document.createElement("li")
                const text = document.createTextNode(`${Object.values(localStorage)[index]}`)
                const  belement = document.querySelector('.tasksList')

                belement.appendChild(idk)
                idk.className = 'not'
                idk.appendChild(text)
               
               

            
        }
        
        
        
        
                   document.querySelector(".addButton").addEventListener('click', myFunction)
        
                 function myFunction() {
                    
                    let storagenum = Object.keys(localStorage).length + 1
                    localStorage.setItem( storagenum, document.querySelector(".inputText").value)
        
                    }


                    const todoItem2 = document.querySelectorAll('li')

                    Array.from(todoItem2).forEach((el)=>{
    el.addEventListener('click', markCompleteornincomplete)
})
                    

                    function markCompleteornincomplete(){

                    if(this.classList.contains('not')){
                        
                        this.classList.remove("not")
                        this.classList.add('completed')
                    
                        console.log('haha1')
                    }else {
                    this.classList.remove("completed")
                    this.classList.add('not')
                        console.log('haha2')
                    }
                        
                    }
        
                    
                </script>

    

    <footer id="footer">
        <div class="social-icons-2">
			<span class="hidden">Follow us:</span>
			<a href="https://www.instagram.com/" target="_blank">
				<i class="fab fa-instagram"> <span class="hidden">Instagram</span> </i>
			</a>
			<a href="https://twitter.com/" target="_blank">
				<i class="fab fa-twitter"> <span class="hidden">Twitter</span> </i>
			</a>
			<a href="https://www.linkedin.com/in/" target="_blank">
				<i class="fab fa-github"> <span class="hidden">Github</span></i>
			</a>
			<a href="https://github.com/" target="_blank">
				<i class="fab fa-linkedin"> <span class="hidden">Linkedin</span> </i>
			</a>
		</div>
        <hr>
        <h3>Designed and Built by 100Devs Team</h3>
    </footer>
</main>

    <div class="hidden">
        <audio src="backtowork.mp3" data-sound="pomodoro"></audio>
        <audio src="break.mp3" data-sound="shortBreak"></audio>
        <audio src="break.mp3" data-sound="longBreak"></audio>
      </div> -->



      <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Freshman Pomodoro Clock Demo</title>
    <!-- <link rel="stylesheet" href="styles.css" /> -->
  </head>
  <body>
    <main class="app">
      <progress id="js-progress" value="0"></progress>
      <div class="progress-bar"></div>
      <div class="timer">
        <div class="button-group mode-buttons" id="js-mode-buttons">
          <button
            data-mode="pomodoro"
            class="button active mode-button"
            id="js-pomodoro"
          >
            Pomodoro
          </button>
          <button
            data-mode="shortBreak"
            class="button mode-button"
            id="js-short-break"
          >
            Short break
          </button>
          <button
            data-mode="longBreak"
            class="button mode-button"
            id="js-long-break"
          >
            Long break
          </button>
        </div>
        <div class="clock" id="js-clock">
          <span id="js-minutes">25</span>
          <span class="separator">:</span>
          <span id="js-seconds">00</span>
        </div>
        <button class="main-button" data-action="start" id="js-btn">
          Start
        </button>
      </div>
    </main>
    <div class="hidden">
      <audio src="backtowork.mp3" data-sound="pomodoro"></audio>
      <audio src="break.mp3" data-sound="shortBreak"></audio>
      <audio src="break.mp3" data-sound="longBreak"></audio>
    </div>
    <script src="main.js"></script>
  </body>
</html>
    <!-- <script src="js/main.js"></script> -->
    <script src="js/main2.js"></script>
    <link rel="stylesheet" href="css/style.css">
</body>
</html>